<%= form_for :menu,class:"form", url: menus_path do |f| %>
 <% if @menu.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@menu.errors.count, "error") %> prohibited
        this menu from being saved:
      </h2>
      <ul>
        <% @menu.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p >
    <%= f.label :title ,class:"form__label"%>
    <%= f.text_field :title ,class:"form__input form__input--marime" %>
  </p>
  <p >
    <%= f.label :date ,class:"form__label" %>
    <%= f.text_field :date ,class:"form__input form__input--marime" %>
  </p>
   <p >
    <%= f.label :first_dish  ,class:"form__label"%>
    <%= f.text_field :first_dish ,class:"form__input form__input--marime"%>
  </p>
   <p >
    <%= f.label :second_dish ,class:"form__label"%>
    <%= f.text_field :second_dish ,class:"form__input form__input--marime"%>
  </p>
   <p >
    <%= f.label :dessert ,class:"form__label"%>
    <%= f.text_field :dessert ,class:"form__input form__input--marime" %>
  </p>
 
   
  <p class="p__comanda">
    <%= f.submit(class:"form__submit") %>
  </p>
<% end %>

