<section class="section">
            <article class="card">
<p class="p__show">
  <strong>Date:</strong>
  <%= @menu.date %>
</p>
<p class="p__show">
<strong>Title:</strong>
 <%= @menu.title %> 
</p>
<p class="p__show">
<strong>First dish:</strong>
 <%= @menu.first_dish %> 
</select>
</p>
<p class="p__show">
<strong>Second dish:</strong>
  <%= @menu.second_dish %> 
</p>
<p class="p__show">
<strong>Dessert:</strong>
   <%= @menu.dessert %>
   
</p>

<% if current_user.admin? %>
<strong>
<%= link_to 'Edit', edit_menu_path(@menu) %> 
<%= link_to 'Back', menus_path %></strong>
<%end %>
</article>
</section>
