<p>
  <strong>Date:</strong>
  <%= @menu.date %>
</p>
<p>
<strong>Title:</strong>
<select>
  <option value="-">---</option>
  <option> <%= @menu.title %> </option>
</select>
</p>

<strong>First dish:</strong>
<select>
  <option value="-">---</option>
  <option> <%= @menu.first_dish %> </option>
</select>
</p>

<strong>Second dish:</strong>
<select>
  <option value="-">---</option>
  <option> <%= @menu.second_dish %> </option>
</select>
</p>

<strong>Dessert:</strong>
<select>
  <option value="-">---</option>
  <option> <%= @menu.dessert %> </option>
</select>
</p>
<%= link_to 'Edit', edit_menu_path(@menu) %> |
<%= link_to 'Back', menus_path %>