<section class="section">
            <article class="card">
              
<%= form_for  @order do |f| %>
	
	<% if @order.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@order.errors.count, "error") %> prohibited
        this order from being saved:
      </h2>
      <ul>
        <% @order.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :menu_id , class:"form__label " %>
    <%=  f.select( :menu_id, Menu.where("DATE(date) = ?", Date.today).map {|a| [a.title, a.id]})  %>
  </p>
  <% if current_user.admin? %>
  <p>
    <%= f.label :order_status ,class:"form__label"%>
    <%= f.select :order_status, ['Pending', 'Sent']%>
  </p>
 <% end %>
 <%= f.hidden_field :user_id, :value => current_user.id %>
  <p>
    <%= f.submit(class:"form__submit")  %>
  </p>
<% end %>
 <% if current_user.admin? %>
<%= link_to 'List orders', orders_path %>
<%end%>
<%= link_to 'Back', menus_path %>

            
</article>
</section>