<p>
  <strong>Menu:</strong>
  <%= @order.menu.title %>
</p>
 
<% if current_user.admin? %>
<p>
  <strong>Order status:</strong>
  <%= @order.order_status %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
<% end %>
<%= link_to 'New', new_order_path %>